.channel-show {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 100%;
  background-color:rgb(54, 57, 66);
  z-index: 101;
}

.channel-show-header {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-weight: 100;
  -webkit-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	-moz-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
}

.channel-show-name {
  display: inline-block;
  margin-left: 5px;
}

.channel-show-bullet {
  color: gray;
  display: inline-block;
}