.channel-index-item {
  display: flex;
  padding: 0px;
  color: gray;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  transition: 0.3s;
  border-radius: 5px;
  z-index: 5;
}

.viewing-channel-index-item {
  display: flex;
  padding: 0px;
  color: white;
  background-color:  rgba(90, 90, 90, 0.6);

  align-items: center;
  justify-content: space-between;
  margin: 5px;
  transition: 0.3s;
  border-radius: 5px;
  z-index: 5;
}

.viewing-channel-index-item .channel-options-icon {
  visibility: visible;
  width: 15px;
  height: 15px;
  padding: 10px;
}

.channel-link {
  display: flex;
  flex-direction: row;
}

.channel-options-icon {
  visibility: hidden;
  opacity: 100%;
  width: 15px;
  height: 15px;
  padding: 10px;
}

.channel-index-item:hover .channel-options-icon {
  visibility: visible;
}

.channel-index-item:hover {
  background-color:  rgba(73, 73, 73, 0.6);
  color: rgb(226, 226, 226);
  border-radius: 5px;
}

.channel-bullet {
  color: gray;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
  transform: scale(1.2, 1);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  font-weight: 100;
}

.channel-index-name {
  font-size: 14px;
  padding: 5px;
  text-align: center;
  max-width: 140px;
  overflow: hidden;
}

.channel-options {
  display: flex;
  flex-direction: column;  
  width: 200px;
  height: 200px;
  background-color: rgb(65, 58, 71);
  border-radius: 5px;
  z-index: 100;
  transition: 0.3s;
}

.channel-options-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(19, 18, 18, 0.3);
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
}

.channel-options-header {
  background: none;
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.channel-options-cancel {
  position: relative;
  color: gray;
  text-align: center;
  vertical-align: middle;
  left: 175px;
  top: 5px;
  width: 10px;
  height: 15px;
  padding: 5px;
  z-index: 100;
  border-radius: 5px;
  transition: 0.3s;
}

.channel-options-cancel:hover {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

.channel-delete-button {
  margin: 25px;
  margin-top: 10px;
  color: gray;
  display: block;
  position: relative;
  height: 30px;
  width: 150px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.channel-delete-button:hover {
  color: red;
  background-color: rgb(85, 85, 85);
} 