.current-user-bar {
  display: flex;
  position: absolute;
  bottom: 0%;
  justify-content: flex-start;
  vertical-align: middle;
  z-index: 100;
  width: 100vw;
  height: 2vh;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgb(42, 43, 47);
  overflow: visible;
}

.current-user-name {
  margin-left: 10px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  font-weight: 500;
}

.current-user-image {
margin-left: 10px;
width: 40px;
height: 40px;
border-radius: 100%;
}

.friends-index-container > .current-user-bar {

}

.icons-list {
  position: relative;
  bottom: 300px;
  padding: 10px;
  background-color: gray;
  height: 300px;
  border-radius: 10px;
}

.icons-list > img {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 100%;
}