.friends-all-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100%;
  background-color:rgb(54, 57, 66);
}

.friends-all-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.friends-all-header {
  display: flex;
  height: 18px;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-weight: 100;
  -webkit-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	-moz-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
  flex-direction: row;
}

.friends-all-title {

}

.friends-list-item {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  border-bottom: 1px solid rgb(63, 66, 77);
}

.friends-list-item:hover {
  border-radius: 10px;
  background-color: rgb(63, 66, 77);
}

.friends-list-name {
  font-weight: 500;
}

.remove-friend-button {
  color: red;
  font-size: 12px;
}

.friends-list {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}