.main-header {
  border-bottom: 1px solid rgb(53, 53, 53);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: middle;
}

.header-link {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 20px;
  padding: 12px;
  margin-top: 0px;
  font-weight: 700;
}

.logout-image {
  width: 20px;
  height: 20px;
  padding: 10px;
}


