.main-header {
  border-bottom: 1px solid rgb(53, 53, 53);
  display: flex;
  justify-content: space-between;
}

.header-link {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 20px;
  padding: 15px;
  margin-top: 0px;
  font-weight: 700;
}



