.server-show-container {
  display: inline-block;
  width: 250px;
  max-height: 100%;
  min-height: 700px;
  border-right: 1px solid rgb(53, 53, 53);
  background-color: rgb(48, 49, 54);
}

.server-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  z-index: -5;
  -webkit-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	-moz-box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
	box-shadow: 0 1px 0px 0px rgb(39, 39, 39);
}

.server-main-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
  max-width: 160px;
  overflow: hidden;
}

.server-options-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.server-options {
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 58, 71);
  padding: 30px;
  height: 200px;
  width: 150px;
  border-radius: 5px;
}

.server-options-header {
  margin-bottom: 15px;
  border-bottom: 2px solid gray;
  text-align: center;
}

.server-options-dropdown-button {
  padding: 5px;
  margin: 15px;
  font-weight: 100;
  transform: scale(1.5, 1);
  transition: 0.3s;
}

.server-options-dropdown-button:hover {
  color: #43b581;
}

.server-options-dropdown-cancel {
  color: gray;
  margin: 10px;
  transition: 0.3s;
  height: 15px;
  width: 15px;
  text-align: center;
  position: relative;
  left: 150px;
  bottom: 30px;
}

.server-options-dropdown-cancel:hover {
  background-color: gray;
  border-radius: 5px;
  color: white;

}

.channel-header {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0px;
}

.delete-server-button {
  color: gray; 
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.delete-server-button:hover {
  color: red;
  background-color: rgb(108, 101, 116);
  border-radius: 5px;
}

.leave-server-button {
  color: gray;
  margin: 5px;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
}

.leave-server-button:hover {
  background-color: rgb(108, 101, 116);
  color: red;
  border-radius: 5px;
}

.edit-server-button {
  color: gray;
  margin: 5px;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
}

.edit-server-button:hover {
  background-color: rgb(108, 101, 116);
  color: white;
  border-radius: 5px;
}

