.server-index-container {
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background-color: rgb(33, 34, 38);
  border-right: 2px solid rgb(49, 49, 49);
  height: 95vh;
  z-index: 4;
}

.main-content {
  height: 100%;
}

.servers {
  width: 100%;
  display: flex;

}

.server {
  width: 100%;
  display: flex;
}