.server-index-container {
  top: 0px;
  display: block;
  width: 65px;
  background-color: rgb(36, 35, 39);
  border-right: 2px solid rgb(49, 49, 49);
  height: 95vh;
  z-index: 4;
}

.main-content {
  height: 100%;
}

.servers {
  width: 100%;
  display: flex;

}

.server {
  width: 100%;
  display: flex;
}