.server-index-container {
  top: 0px;
  display: block;
  width: 60px;
  border-right: 2px solid rgb(49, 49, 49);
  height: 745px;
  z-index: 2;
}

.main-content {
  height: 100%;
}

.servers {
  width: 100%;
  display: flex;
}

.server {
  width: 100%;
  display: flex;
}