.server-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(72, 69, 73);
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  transition: 0.3s;
  z-index: 3;
}

.viewing-server-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  transition: 0.3s;
  z-index: 3;
  color: white;
  border-radius: 17px;
  background-color: #7289da;
}

.server-icon:hover {
  color: white;
  border-radius: 17px;
  background-color: #7289da;
}

.server-index-item-hover {
  height: 12px;
  max-width: max-content;
  min-width: min-content;
  position: relative;
  visibility: hidden;
  font-size: 12px;
  z-index: 4;
  bottom: 57px;
  left: 60px;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  transition-delay: 0s;
}

.server-index-item-hover-name {
  color: white;
  max-width: max-content;
  min-width: min-content;
  background-color: black;
  white-space: nowrap;
  max-width: 1000px;
}

.arrow_box {
    position: relative;
    background: #000000;
}

.arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    /* height: 0;
    width: 0; */
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 10px;
    margin-top: -10px;
}

.server-icon:hover .server-index-item-hover {
  visibility: visible;
  transition-delay: 0.2s;
}

.server-index-item-hover-whitespace {
  visibility: hidden;
  position: relative;
  width: 0px;
  height: 20px;
  background-color: white;
  bottom: 19px;
  right: 100px;
  transition: 0.3s;
  border-radius: 5px;
}

.viewing-server-index-item-hover-whitespace {
  position: relative;
  width: 30px;
  height: 40px;
  background-color: white;
  bottom: 28px;
  right: 100px;
  transition: 0.3s;
  border-radius: 5px;
  visibility: visible;
}

.server-icon:hover .server-index-item-hover-whitespace {
  visibility: visible;
  width: 30px;
}

.explore-button:hover .server-index-item-hover-whitespace {

}

.server-initials {
  position: relative;
  bottom: 10px;
  margin: 10px;
  padding-top: 18px;
  padding-bottom: 15px;
}

.server-name {
  display: hidden;
}
.server-name:hover {
  display: inline-block;
}

.create-server-button {
  color: #43b581;
  height: 50px;
  width: 50px;
  background-color: rgb(72, 69, 73);
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  margin: 5px;
  font-size: 40px;
  font-weight: 100;
  transition: 0.3s;
}

.create-server-button:hover {
  color: white;
  border-radius: 30%;
  background-color: #43b581;
}

.create-server-button:hover .server-index-item-hover {
  visibility: visible;
  bottom: 34px;
}



.create-server-button-symbol {
  position: relative;
  top: 3px;
}

.server-index-nav-end {
  position: relative;
  bottom: 2px;
  width: 100%;
  border-bottom: 2px solid rgb(92, 90, 94);
  margin-top: 4px;
}

.explore-button {
  display: flex;
  justify-content: center;
  color: #43b581;
  height: 50px;
  width: 50px;
  background-color: rgb(72, 69, 73);
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  font-size: 20px;
  font-weight: 100;
  transition: 0.3s;
  align-content: center;
}

.explore-image {
  width: 20px;
  height: 20px;
  z-index: 1000;
}

.explore-button:hover {
  color: white;
  border-radius: 30%;
  background-color: #43b581;
}

.explore-button:hover .explore-index-item-hover {
  visibility: visible;
}

/* .explore-index-item-hover-name {

} */

.server-show-link {
  height: 50px;
  width: 50px;
}

