.server-explore-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(54, 57, 66);
}

.server-explore-header {
  font-weight: 900;
  padding: 10px;
  border-bottom: 2px solid rgb(101, 98, 107);
}

.server-explore-list {
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: scroll;
  flex-direction: row;
  /* justify-content: flex-start; */
  padding: 20px;
  /* align-items: flex-start; */
}